{% load thumbnail %}
{% load static %}

<nav class="navbar" style="background-color: #ced4da;">
    <div class="container">
        <div>

            <button class="btn" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNav">
                <img
                    src="https://res.cloudinary.com/duekocfq6/image/upload/f_auto,q_auto/v1/static/icon-menu"
                    alt="3 bar menu" height="50px" width="50px">
            </button>
            <div class="offcanvas offcanvas-start" tabindex="-1"
                id="offcanvasNav">

                <div class="offcanvas-header">
                    {% if request.user.is_authenticated %}
                    <h5 class="offcanvas-title">
                        Welcome, {{user.username}}!</h5>
                    {% else %}
                    <h5 class="offcanvas-title">
                        Welcome!</h5>
                    {% endif %}
                    <button type="button" class="btn-close"
                        data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        Where to?
                    </div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active"
                                href="{% url 'feed:feed' %}">
                                <img
                                    src="https://res.cloudinary.com/duekocfq6/image/upload/v1708012318/static/icon-home.png"
                                    alt="home" width="50px" height="50px">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{% url 'search:search' %}">
                                <img
                                    src="https://res.cloudinary.com/duekocfq6/image/upload/v1708012362/static/icon-search.png"
                                    alt="search" width="50px" height="50px">
                                Search
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{% url 'pattern:add' %}">
                                <img
                                    src="https://res.cloudinary.com/duekocfq6/image/upload/v1708012296/static/icon-add.png"
                                    alt="add pattern" width="50px"
                                    height="50px">
                                Add pattern
                            </a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{% url 'profiles:profile' user.username %}">
                                <img
                                    src="https://res.cloudinary.com/duekocfq6/image/upload/v1708012340/static/icon-profile.png"
                                    alt="My profile" width="50px" height="50px">
                                My Profile</a>
                        </li>
                        {% else %}
                        {% endif %}
                        <li class="nav-item">
                            {% if request.user.is_authenticated %}
                            <a class="nav-link"
                                href="{% url 'account_logout' %}">
                                <img
                                    src="https://res.cloudinary.com/duekocfq6/image/upload/v1708012278/static/icon-signout.png"
                                    alt="Sign out" width="50px" height="50px">
                                Sign Out</a>
                            {% else %}
                            <a class="nav-link"
                                href="{% url 'account_login' %}">
                                <img
                                    src="https://res.cloudinary.com/duekocfq6/image/upload/v1708012390/static/icon-signin.png"
                                    alt="Log in" width="50px" height="50px">
                                Login
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a class="navbar-brand" href="{% url 'feed:feed' %}">
            <!-- Large screen brand  -->
            <img class="img-fluid d-none d-sm-block"
                src="https://res.cloudinary.com/duekocfq6/image/upload/v1708004906/static/logo-lg_idyzwe.png"
                alt="Generation Knit" width="300" height="60">
            <!-- Small screen brand  -->
            <img class="img-fluid d-sm-none"
                src="https://res.cloudinary.com/duekocfq6/image/upload/v1708008204/static/logo-sm_zomalv.png"
                alt="Generation Knit" width="90" height="50">
        </a>
        <!-- Show user information in top right -->
        {% if request.user.is_authenticated %}
        <div class="float-end justify-content-end" id="user-information">
            <a class="nav-link"
                href="{% url 'profiles:profile' user.username %}">
                {{ request.user.username}}
                {% thumbnail request.user.profile.image "30x30"
                crop="center" as im %}
                <img class="justify-content-end thumbnail"
                    src="{{ im.url }}" width="{{ im.width }}"
                    height="{{ im.height}}"
                    alt="user icon">
                {% endthumbnail %}
            </a>
            {% else %}
            <a class="nav-link"
                href="{% url 'account_login' %}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
