{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% block title %}
    {% trans "Sign In" %}
{% endblock %}
{% block body %}
<div class="card w-75 mb-3 mx-auto p-2">
    <div class="mx-auto p-2" style="width: 200px;">
    <h1 class="text-center">
        {% trans "Sign In" %}
    </h1>
    </div>
    <p>
        {% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>
    {% url 'account_login' as login_url %}
    <form method="post" action="{{ login_url }}">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.email.label_tag }}
            {{ form.email|add_class:"form-control form-control-md" }}
        </div>
        <div class="mb-3">
            {{ form.password.label_tag }}
            {{ form.password|add_class:"form-control form-control-md" }}
        </div>
        {% if redirect_field_value %}
            <input type="hidden"
                   name="{{ redirect_field_name }}"
                   value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-primary">{% trans "Sign In" %}</button>
    </form>
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock %}
</div>