{% extends "base.html" %}
{% load allauth i18n widget_tweaks %}
{% block title %}
    {% trans "Signup" %}
{% endblock title %}
{% block body %}
<div class="card w-75 mb-3 mx-auto p-2 shadow-lg" style="max-width: 30rem; height: 80vh;">
    <div class="container m-2">
        <div class="mx-auto p-2" style="width: 200px;">
            <h1 class="text-center">
                {% trans "Sign Up" %}
            </h1>
        </div>
        <p>
            {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
        </p>
        {% url 'account_signup' as action_url %}
        <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:"form-control" }}
            </div>
            {% endfor %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="btn btn-dark mt-4">{% trans "Sign Up" %}</button>
        </form>
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>
</div>
{% endblock %}