{% extends "base.html" %} 
{% block title %}
Edit your profile 
{% endblock %} 

{% block body %}
    <div class="card m-3">
        <div class="card-body">
            <form method="POST" action="." enctype="multipart/form-data">
                {% csrf_token %} 
                {% for field in form %}
                <div class="mb-3 form-control">
                    <label for="{{ field.id_for_label }}" class="form-label">{{
                        field.label }}</label> {{ field }}
                </div>
                {% endfor %}
                <div>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}