{% extends "base.html" %}

{% block title %}{{ pattern.title}} by {{pattern.author.username}}{% endblock %}

{% block body %}    
    {{ object.title }}
    {{ request.user }}
    {% if request.user.is_authenticated %}
    <div class="btn-group" role="group" aria-label="Edit or delete pattern">
        <a href="{% url 'pattern:edit' pattern.id %}">
            <button type="button" class="btn btn-outline-primary">
                Edit
            </button>
        </a>
        <a href="{% url 'pattern:delete' pattern.id %}">
            <button type="button" class="btn btn-outline-primary">
                Delete
            </button>
        </a>
      </div>
    {% else %}
    {% endif %}
    </div>
</div>

    <p>Category: {{ pattern.get_category_display }}</p>
    <p>Yarn Weight: {{ pattern.get_weight_display }}</p>
    <p>Needle Size: {{ pattern.get_needle_display }}</p>
    
    -->
{% endblock %}