{% extends 'base.html' %}
{% load cloudinary %}

{% block title %}
{{ user }}'s Profile
{% endblock %} 

{% block body %}
<div class="container">
    <div class="container">
        <div class="row">
            <!-- Profile picture -->
            <div class="col-lg-6 d-flex justify-content-center p-3">
                <p class="card-text">
                    <img src="{% cloudinary_url user.profile.image format='auto' quality='auto' width=300 height=300 crop='fill' %}" alt="user profile picture">
                </p>
            </div>

            <!-- Bio and pattern number -->
            <div
                class="col-lg-6 d-flex flex-column align-items-lg-start align-items-center">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ user.username }}
                        </h5>
                        {{ user.profile.bio|safe }}
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Patterns:</th>
                            <td>{{ num_patterns }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h2>Patterns by {{user.username }}</h2>
    <!-- Styling for small screen -->
    <div class="row d-lg-none">
        {% for pattern in patterns %}
        <div class="card col-12 ">
            <div class="row">
                <div class="col">
                    <a href="{% url 'feed:detail' pattern.id %}"
                        class="nav-link">
                        <img src="{% cloudinary_url pattern.image format='auto' quality='auto' width=100 height=100 crop='fill' %}" class="img-fluid" alt="pattern thumbnail">
                        {{ pattern.title}}
                    </a>
                </div>
                <div class="col d-flex justify-content-end align-items-center">
                    <a
                        href="{% url 'profiles:profile' pattern.author.username %}"
                        class="text-decoration-none link-secondary ">
                        {{ pattern.author }}
                        <img src="{% cloudinary_url pattern.author.profile.image format="auto" quality="auto" width=50 height=50 crop="fill" %}" alt="user icon">
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="card">
            <div class="card-body">
                <p>This author has not authored any patterns</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Styling for large screen -->
    <div class="row d-none d-lg-flex">
        {% for pattern in patterns %}
        <div class="col-lg-3">
            <div class="card d-flex h-100">
                <div class="text-center">
                    <h3>
                        {{ pattern.title }}
                    </h3>
                </div>
                <a href="{% url 'feed:detail' pattern.id %}">
                    <img src="{% cloudinary_url pattern.image format="auto" quality="auto" width=300 height=300 crop="fill" %}" class="img-fluid" alt="pattern thumbnail">
                </a>
                <div class="card-body">
                    <p class="card-text float-end">
                        by
                        <a
                            href="{% url 'profiles:profile' pattern.author.username %}"
                            class="text-decoration-none link-secondary">
                            <b>{{ pattern.author }}</b>
                            <img src="{% cloudinary_url pattern.author.profile.image format="auto" quality="auto" width=50 height=50 crop="fill" %}" class="img-fluid" alt="user icon"> 
                        </a>
                    </p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="card">
            <div class="card-body">
                <p>This author has not authored any patterns</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Buttons for logged in member only -->
{% if request.user.is_authenticated and user.username == request.user.username %}
<div class="container-fluid d-flex justify-content-center">
    <div class="btn-group" role="group" aria-label="Edit or delete profile">
        <a href="{% url 'profiles:edit' user.username %}" class="btn btn-dark" aria="edit profile">
            Edit profile
        </a>
        <a href="{% url 'profiles:delete' user.username %}" class="btn btn-danger" aria="delete profile">
            Delete profile
        </a>
    </div>
</div>
{% endif %}
{% endblock %}