{% extends 'base.html' %}

{% block title%}
    Search
{% endblock %}
{% block body %}  
  <div class="input-group mb-3">
    <form action="{% url 'search:search' %}" method="GET">
    <input name="p" type="text" class="form-control" placeholder='Search' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    <button class='btn btn-primary' type='submit' id='search'>Go</button>
    </form>
  </div>

<ul>
  <h2> Results:
  </h2>
{% for p in object_list %}
  <li>
    <a href="{% url 'feed:detail' p.id %}">{{ p.title}}Something is being returned</a>
  </li>
{% endfor %}
</ul>
{% endblock %}