{% extends 'base.html' %}
{% load thumbnail %}

{% block title%}
    Search
{% endblock %}
{% block body %}  
  <div class="input-group mb-3">
    <form action="{% url 'search:search' %}" method="GET">
    <input name="p" type="text" class="form-control mb-3" placeholder='Search' aria-label="Search bar" aria-describedby="search-bar">
    <button class='btn btn-primary' type='submit' id='search' aria-label="Go">Go</button>
    <select class="form-select" aria-label="Search by yarn weight">
      <option selected>Yarn Weight</option>
      <option value="1">Cobweb</option>
      <option value="2">Lace</option>
      <option value="3">Fingering</option>
      <option value="4">DK</option>
      <option value="5">Worsted</option>
    </select>
    <select class="form-select" aria-label="Search by project type">
      <option selected>Category</option>
      <option value="1">Sweater</option>
      <option value="2">Cardigan</option>
      <option value="3">Skirt</option>
      <option value="4">Pants</option>
      <option value="5">Hat</option>
      <option value="6">Scarf</option>
    </select>
    <select class="form-select" aria-label="Search by needle size">
      <option selected>Needle size</option>
      <option value="1">1mm</option>
      <option value="2">2mm</option>
      <option value="3">3mm</option>
      <option value="4">4mm</option>
    </select>
  </form>
  </div>

<ul class="list-group">
{% for p in object_list %}
  <li class="list-group-item">
    <a href="{% url 'feed:detail' p.id %}">{{ p.title}}</a>
      <div class='d-flex justify-content-end align-middle'>
        <a href="{% url 'profiles:profile' p.author.username %}" class="text-decoration-none link-secondary ">
            {{ p.author }}
        {% thumbnail p.author.profile.image "50x50" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
      </div>
  </li>
{% endfor %}
</ul>
{% endblock %}